#mainContainer{
    -fx-pref-width: 1000px;
    -fx-pref-height: 808px;

}
#mainPaneContainer{
    -fx-pref-width: 1440px;
    -fx-pref-height: 1898px;
    -fx-background-color: #282A3A;
}

#searchField{
    -fx-position: absolute;
    -fx-width: 412px;
    -fx-height: 50px;
    -fx-padding: 13px;
    -fx-left: 927px;
    -fx-top: 78px;

    -fx-background-color: #E9E8E8;
    -fx-background-radius: 22px;
    -fx-opacity: 0.2;
    -fx-border-radius: 20px;
}
#firstTitle{
    -fx-position: absolute;
    -fx-width: 393px;
    -fx-height: 73px;


    -fx-font-family: 'Inter';
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-font-size: 60px;
    -fx-line-height: 73px;
    /* identical to box height */

    -fx-display: flex;
    -fx-align-items: center;
    -fx-text-align: center;

    -fx-text-fill: #FFFFFF;

}